{#
/**
 * Standard sub-theme type default page template.
 */
#}
<div{{ attributes }}>
  {# Remove messages variable when https://www.drupal.org/node/2289917 lands. #}
  {{ messages }}
  {% if messages__regions.active == true %}
  <div class="page-row__messages">
    <div{{ messages__attributes }}>
      {{ page.messages }}
    </div>
  </div>
  {% endif %}
  {% if leaderboard__regions.active == true %}
  <div class="page-row__leaderboard">
    <div{{ leaderboard__attributes }}>
      {{ page.leaderboard }}
    </div>
  </div>
  {% endif %}
  {% if header__regions.active == true %}
  <header class="page-row__header">
    <div{{ header__attributes }}>
      {{ page.header_first }}
      {{ page.header_second }}
    </div>
  </header>
  {% endif %}
  {% if navbar__regions.active == true %}
  <div class="page-row__navbar">
    <div{{ navbar__attributes }}>
      {{ page.navbar }}
    </div>
  </div>
  {% endif %}
  {% if features__regions.active == true %}
  <div class="page-row__features">
    <div{{ features__attributes }}>
      {{ page.features_first }}
      {{ page.features_second }}
      {{ page.features_third }}
    </div>
  </div>
  {% endif %}
  {% if tabs %}<div class="page-row__temporary-tabs"><div class="regions">{{ tabs }}</div></div>{% endif %}
  {% if main__regions.active == true %}
  <div class="page-row__main">
    <div{{ main__attributes }}>
      {{ page.content }}
      {{ page.sidebar_first }}
      {{ page.sidebar_second }}
    </div>
  </div>
  {% endif %}
  {% if subfeatures__regions.active == true %}
  <div class="page-row__subfeatures">
    <div{{ subfeatures__attributes }}>
      {{ page.subfeatures_first }}
      {{ page.subfeatures_second }}
      {{ page.subfeatures_third }}
    </div>
  </div>
  {% endif %}
  {% if footercols__regions.active == true %}
  <div class="page-row__footercols">
    <div{{ footercols__attributes }}>
      {{ page.footercol_first }}
      {{ page.footercol_second }}
      {{ page.footercol_third }}
      {{ page.footercol_fourth }}
    </div>
  </div>
  {% endif %}
  {% if footer__regions.active == true %}
  <footer class="page-row__footer">
    <div{{ footer__attributes }}>
      {{ page.footer }}
    </div>
  </footer>
  {% endif %}
  {{ attribution }}
</div>